body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0, 255, 179, 0.692)
}

.form{
    width: 25em;
    height: 30em;
    float: left;
    border: 0.25em solid white;
    font-size: 15px;
    border-radius: 1em;
    position: absolute;
    top:20%;
    left:50%;
    transform: translateY(-60%,-40%);
    background-color: #fff;
}

.form h3{
    text-align: center;
}


.center{
    color: rgba(0, 128, 53, 0.842);
    font-size: 30px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
padding-top: 10px;
}

.menu{
width: 400px;
float: left;
height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none; 
    margin-left: 60px;
    margin-top: 25px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: Arial;
    transition: 0.4s ease-in-out;

}
.content{
  width: 700px;  
  height: auto;
  margin: auto;
  color: #fff;
  position:relative;
  text-align: center;
}
.content .par{
    padding-left: 30px;
    padding-bottom: 10px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 20px;

}
.fa-solid fa-circle-user{
font-size: 100px;
color: #fff;
align-items: end;
}

.my account{
    align-items: end;
    font-size: 20px;
    float: inline-end;
}